<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="br.com.plugin.floatingwidget"
    version="1.0.0">
    <name>cordova-floating-widget</name>
    <description>create floating widget native</description>
    <license>null</license>

    <js-module src="www/FloatingWidget.js" name="FloatingWidget">
        <clobbers target="FloatingWidget" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FloatingWidget" >
                <param name="android-package" value="br.com.floatingwidget.FloatingWidget"/>
            </feature>
        </config-file>

        <framework src="com.android.support:appcompat-v7:25.3.1" />
        <framework src="com.android.support:design:25.3.1" />
        <framework src="com.android.support.constraint:constraint-layout:1.0.0-beta4" />
        <framework src="com.github.andremion:counterfab:1.0.1" />


        <config-file target="AndroidManifest.xml" parent="/*">
            <!--<uses-permission android:name="android.permission.INTERNET" />-->
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        </config-file>

        <source-file src="src/android/FloatingWidget.java" target-dir="src/br/com/floatingwidget" />
        <source-file src="src/android/FloatingWidgetService.java" target-dir="src/br/com/floatingwidget" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="br.com.floatingwidget.FloatingWidgetService" />
        </config-file>

        <resource-file src="res/layout/overlay_layout.xml" target="res/layout/overlay_layout.xml" />
        <resource-file src="res/values/styles.xml" target="res/values/colors.xml" />

    </platform>

</plugin>