<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="br.com.fabrica704.widgetfloat"
    version="1.0.0">
    <name>cordova-floating-widget</name>
    <description>create floating widget native</description>
    <license>null</license>

    <js-module src="www/FloatingWidget.js" name="FloatingWidget">
        <clobbers target="FloatingWidget" />
    </js-module>

    <platform name="android">

        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="FloatingWidget" >
                <param name="android-package" value="br.com.fabrica704.widgetfloat.FloatingWidget"/>
            </feature>
        </config-file>
        <framework src="com.android.support:support-annotations:28.0.0" />
        <framework src="de.hdodenhof:circleimageview:3.0.1" />
        <framework src="com.android.volley:volley:1.1.1" />
        <framework src="com.android.support:appcompat-v7:27+" />

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
            <uses-permission android:name="android.permission.REORDER_TASKS" />
            <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
            <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
            <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.INTERNET"/>
        </config-file>

        <source-file src="src/android/FloatingWidget.java" target-dir="src/br/com/fabrica704/widgetfloat" />
        <source-file src="src/android/FloatingWidgetService.java" target-dir="src/br/com/fabrica704/widgetfloat" />
        <source-file src="src/android/LocationService.java" target-dir="src/br/com/fabrica704/widgetfloat" />
        <source-file src="src/android/RequestApi.java" target-dir="src/br/com/fabrica704/widgetfloat" />

        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <service android:name="br.com.fabrica704.widgetfloat.FloatingWidgetService" />
            <service android:name="br.com.fabrica704.widgetfloat.LocationService" />
        </config-file>

        <resource-file src="res/layout/overlay_layout.xml" target="res/layout/overlay_layout.xml" />
    </platform>

</plugin>